@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.homepage_bg {
  background: url('../src/assets/Images/bghome.svg');
}

/* OTPStyles.css */

/* Default input box styles */
.otp-input {
  background-color: #2c333f;
  color: #f1f2ff;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  transition: border 0.3s ease;
}

.otp-input:focus {
  border: 2px solid yellow;
  outline: none; /* Focus border color */
}

input[type='date']::-webkit-calendar-picker-indicator {
  background-color: #2c333f;
  width: 30px; /* Increase size */
  height: 25px; /* Increase size */
  cursor: pointer;
}

/* Optional: Adjust size for Firefox */
input[type='date']::-moz-calendar-picker-indicator {
  background-color: #2c333f; /* Change to white */
  width: 30px; /* Increase size */
  height: 25px; /* Increase size */
  cursor: pointer;
}
